{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class>

    <div class="col-md-3 mx-auto mt-5">
        <div class="d-flex align-items-center">
            <div class="box">
                <h2>Logged in as: {{user}}</h2>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else%}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ create_url_form.as_p }}
                    <input type="submit" value="Generate url">
                </form>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="col-md-11 mx-auto mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Long url</th>
                    <th>Short url</th>
                    <th>Status</th>
                    <th>Toogle url</th>
                    <th>Delete url</th>
                    <th>Expiration date</th>
                    <th>Change datetime</th>
                    <th>Time lef till link expires</th>
                    <th>Redirect limit</th>
                    <th>Current number of redirects</th>
                    <th>Redirect statistics</th>
                </tr>
            </thead>
            {% for url in urls %}
            <tbody>
                <tr>
                    <td style="word-break: break-word;"><a href="{{ url.long_url }}">{{url.long_url}}</a></td>
                    <td><a href="{% url 'redirect' url.short_url %}">{{url.short_url}}</a></td>
                    {% if url.active == True %}
                    <td>
                        <span class="badge bg-success">Active</span>
                    </td>
                    <td>
                        <form action="{% url 'toggle' url.short_url %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-secondary" type="submit" value="Disable" />
                        </form>
                    </td>
                    {% else %}
                    <td>
                        <span class="badge bg-danger">Dissabled</span>
                    </td>
                    <td>
                        <form action="{% url 'toggle' url.short_url %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-success" type="submit" value="Activate" />
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'delete' url.short_url %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                    <td>{{url.expiration_time|date:'Y-m-d H:i'}}</td>
                    <td>
                        <form action="{% url 'datetime' url.short_url  %}" method="POST">
                            {% csrf_token %}

                            <input type="datetime-local" value="{{url.expiration_time|date:'Y-m-d H:i'}}"
                                name="expiration_time">
                            <input class="btn btn-warning" type="submit" value="Change datetime" />
                        </form>
                    </td>
                    <td>{{url.get_time_delta}}</td>
                    <td>
                        {{url.click_limit}}
                    </td>
                    <td>
                        {{url.get_number_of_clicks}}
                    </td>
                    <td>
                        <a href="{% url 'info' url.short_url  %}" class="btn btn-info" role="button"
                            aria-disabled="true">Info</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock%}